
main {
  margin-top: 7rem;
}


.banner {
  text-align: center;
  
  
}

.categories {
  
  text-align: center;
  margin: 1rem 7%;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  gap: 1rem;
  /* align-items: center; */
}



.cat {
  padding: 0.8rem 0;
  border: 2px solid #26b9d1;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  /* margin: 0 auto; */
}

.cat:hover {
  box-shadow: 0 0 30px rgba(13, 81, 112, 0.8);
}



.cat img {
  
  width: 100%;
    
}

.cat p {
  display: inline-block;
  text-align: center;
  width: 90%;
  color:#fff;
  background-color: #26b9d1;
  margin-top: 0.5rem;
  padding: 0.10rem 0;
  font-size: 1rem;
  border-radius: 50px;
  font-family: "Noto Sans Arabic", sans-serif;
  font-weight: 500;
}






/* ==============tablet============== */

@media (max-width: 900px){

  .categories {
    margin-top: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
   
  }

 

}

@media (max-width: 600px) {
  .categories {
    margin-top: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
   
  }

  /* .titles a{
    font-size: 0.7rem;
  } */
}

/* ==============mobile============== */
@media (max-width: 377px){

  .banner img{
    width: 100%;
    text-align: center;
  }

  .categories {
    margin-top: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
   gap: 0.5rem;
   
  }

  .cat p {
   
    font-size: 0.7rem;
    
  }

  
}
